.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__title {
  @extend .title-h1;
}

.home__options-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: $gutter;
}
