.home {
  @extend .centered-page;
}

.home__title {
  @extend .title-h1;
}

.home__options-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: $gutter;
}

.home__host-button {
  margin-right: $gutter;
}
