$color-first: #c31624 !default;
$color-second: #00ac69 !default;

$color-white: #ffff !default;
$color-black: #2b2b2b !default;

$color-gray-01: #d3d3d3 !default;
$color-gray-02: #b7b7b7 !default;
$color-gray-03: #9a9a9a !default;
$color-gray-04: #707070 !default;
