$create-header-height: 50px;

.create__header {
  display: flex;
  align-items: center;
  height: $create-header-height;
}

.create__back {
  @extend .hover-basic;
}

.create__list {
  @extend .centered;

  height: calc(100vh - #{$create-header-height});
}

.create__list-title {
  @extend .title-h2;

  margin-bottom: $gutter;
}
